<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} [%-5p] %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="VAR_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/bdshr/bdshr.log"/>
        <param name="DatePattern" value="'.'dd-MM-yyyy"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} [%-5p] %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="ACCESS_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/var/log/bdshr/access.log"/>
        <param name="DatePattern" value="'.'dd-MM-yyyy"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} [%-5p] %c{1} - %m%n"/>
        </layout>
        <filter class="org.freeshr.utils.log4j.AccessLogFilter"/>
    </appender>

    <root>
        <priority value="${SHR_LOG_LEVEL}"/>
        <appender-ref ref="VAR_LOG"/>
        <appender-ref ref="ACCESS_LOG"/>
    </root>

</log4j:configuration>